{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Gallery</title>
    <link rel="stylesheet" href= "{% static 'style.css' %}" >
</head>

<body>
    <h1>Superhero Gallery</h1>
    <ul>
        {% for superhero in object_list %}
        <li>
            <h2>{{ superhero.name }}</h2>
            <p>{{ superhero.identity }}</p>
            <p>
                <img src="{{ superhero.image }}" alt="{{ superhero.name }}" width="300">
            </p>
            <p>
                <a href="{{ superhero.pk }}">{{ superhero.name }}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
<p>
    <a href="/admin/" class="btn btn-success m-5"> Modify Database with Admin Views </a>
    <a href="/superhero/add" class = "btn btn-success m-5"> Add New Superhero</a>
</p>
</body>

</html>