h1{
    color: black;
    background-color: white;
    padding: 20px;
    border: 20px, solid,papayawhip;
    text-align: center;
}
p{
    
}
body{
    background-color: rgb(184, 233, 205);
    text-align: center;
}