{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Superhero News</title>

</head>

<body>
    <h1>Superhero News</h1>
    
    <img src="/static/images/heros.png" width = 500 alt="heros">
    <button><p><a href="/admin/">Django Admin Views for Superheros</a></p></button>
    <button><p><a href="/superhero/">List of Superheroes</a></p></button>
    <button><p><a href="/article/">Article list</a></p></button>
</body>
</html>