<nav class="navbar navbar-expand-sm bg-primary text-light">


    <div class="container">

        <a class="navbar-nav text-light h1 mt-3 mb-3 ml-3" href="/">Superhero News</a>


        <ul class="navbar-nav text-light ml-auto h5">

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'superhero_list' %}">Hero List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'superhero_add' %}">Add Hero</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/">Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/article/">Article</a>
            </li>



            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link  text-light " href="{% url 'logout' %}">Hello {{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link  text-light " href="{% url 'logout' %}">Log out</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link  text-light " href="{% url 'login' %}">Log In</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  text-light " href="{% url 'signup' %}">Sign Up</a>
            </li>

            {% endif %}

        </ul>

    </div>

</nav>