{% extends 'superhero_theme.html' %}

{% block content %}
<div class="container-fluid m-5">
    <h1 class="text-primary">Article Detail</h1>
    <p>Title:</p>
    <p><b>{{ object.hero }}</b></p>
    <p>Order:</p>
    <p><b>{{ object.order }}</b></p>
    <p>Document:</p>
    <p><b>{{ object.title }}</b></p>

    <div class="card m-5">
        <div class="card-header bg-primary text-light">
            <h3>Article {{ object.order }} - {{ object.title }}</h3>
        </div>
        <div class="card-body p-5 text-dark">
            {% autoescape off %}
            {{ object.html }}
            {% endautoescape %}
        </div>
    </div>

    <a href="/article/" class="btn btn-success m-5">Article List</a>
    <a href="/article/{{ object.pk }}/" class="btn btn-success m-5">Edit Article</a>
    <a href="/article/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Article</a>
</div>

{% endblock content %}